<p id="notice"><%= notice %></p>

<p>
  <strong>Part time:</strong>
  <%= @student.part_time %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @student.full_time %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
