<p id="notice"><%= notice %></p>

<h1>Full Times</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @full_times.each do |full_time| %>
      <tr>
        <td><%= full_time.name %></td>
        <td><%= full_time.start_date %></td>
        <td><%= link_to 'Show', full_time %></td>
        <td><%= link_to 'Edit', edit_full_time_path(full_time) %></td>
        <td><%= link_to 'Destroy', full_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Full Time', new_full_time_path %>
