<p id="notice"><%= notice %></p>

<h1>Part Times</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_times.each do |part_time| %>
      <tr>
        <td><%= part_time.name %></td>
        <td><%= link_to 'Show', part_time %></td>
        <td><%= link_to 'Edit', edit_part_time_path(part_time) %></td>
        <td><%= link_to 'Destroy', part_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part Time', new_part_time_path %>
